<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Products</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css">

</head>
<body>
<br><br>
<h2 th:class="notify" th:if="${message} != null" th:style="'color:red'">
    <span th:text="${message}"></span>
</h2>
<div class="card">
    <h5 class="card-header font-weight-light">
        <span class="fas fa-tasks fa-fw mr-3"></span>
        <span><b>Create Product</b></span>
    </h5>
    <div class="card-body" style="height: 422px">
        <div class="table-responsive">
            <form th:action="@{/product/save}" th:object="${product}" method="post" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <tr>
                        <th>Product Name</th>
                        <td>
                            <label>
                                <input th:field="*{name}" class="form-control mr-2" type="text" name="name" size="20"
                                       placeholder="Name Product">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Product Price</th>
                        <td>
                            <label>
                                <input th:field="*{price}" class="form-control mr-2" type="text" name="price" size="20"
                                       placeholder="Price">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td>
                            <div class="custom-file">
                                <input th:field="*{imageFile}" type="file" class="custom-file-input"
                                       id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>
                            <label for="sel1"></label>
                            <select th:field="*{category}" class="form-control" id="sel1">
                                <optgroup label="Select Category">
                                    <option th:each="cate : ${categories}" th:value="${cate.idCategory}"
                                            th:text="${cate.nameCategory}"></option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary">CREATE</button>
                            &nbsp;
                            <a th:href="@{/product}" role="button" class="btn btn-danger">BACK</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>